* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html {
    font-size: 16px;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
:active, :hover, :focus {
    outline: 0!important;
    outline-offset: 0!important;
}
body {
    font-size: 16px;
    line-height: 1.2;
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #211f27;
}
.material-icons-outlined {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}
.btn {
    padding: 12px 32px;
    font-size: 0.8em;
    color: #ffffff;
    text-decoration: none;
    background-color: #0bceaf;
    transition: border-radius 0.3s ease-out 0ms, background-color 0.3s ease-out 0ms;
    border-radius: 16px;
}
.btn:hover {
    border-radius: 3px;
    background-color: #6b019c;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar .nav-list {
    width: 100%;
    max-width: 1320px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 20px;
    list-style: none;
}
.navbar .nav-list .nav-item {
    display: flex;
    align-items: center;
    padding: 0px 10px;
}
.navbar .nav-list .nav-item a {
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.5s ease-out 0ms;
}
.navbar .nav-list .nav-item a:hover {
    color: #0bceaf;
}
.navbar .nav-list .nav-logo {
    margin-right: auto;
}
.navbar .nav-list .nav-logo a {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.hello {
    position: relative;
    display: flex;
    align-items: center;
    flex: auto;
    background: url(/img/castle.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hello ul {
    padding: 20px;
    list-style: none;
}
.hello ul li {
    margin-bottom: 32px;
}
.hello li.name {
    margin-bottom: 8px;
    font-size: 1.3em;
}
.hello li.career {
    font-size: 4em;
    font-weight: bold;
}
.hello li.link {
    
}