* {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
:active, :hover, :focus {
    outline: 0!important;
    outline-offset: 0!important;
}
body {
    font-size: 14px;
    line-height: 1.2;
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #211f27;
}
.material-icons-outlined {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}
.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

header .header-nav {
    width: 100%;
    display: flex;
    list-style: none;
}
header .header-nav .nav-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
header .header-nav .nav-item a {
    color: #ffffff;
    text-decoration: none;
}



main {
    height: 200vh;
}